<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, cols: '45', rows: '5' %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-default' %>
  </p>
<% end %>
