<div class="container">

<h1>Hello, Rails!</h1>

<p>Built with &#x1F308; &amp; ❤️  by Alicia Pflaumer</p>
<div id="user_header">
  <% if  logged_in? %>
    <%= link_to 'Logout', logout_path, class: 'btn btn-outline-primary' %>
  <% else %>
    <%= link_to "Sign Up", signup_path, class: 'btn btn-outline-primary' %>
    <%= link_to "Log In", login_path, class: 'btn btn-outline-primary' %>
  <% end %>
</div><br>
<% if  logged_in? %>
  <%= link_to 'Blog', articles_path, class: 'btn btn-outline-primary'  %>
  <%= link_to 'All users', users_path, class: 'btn btn-outline-primary' %>
<% end %>
</div>
