<h1>Hello, Rails!</h1>
<p>Built with &#x1F308; &amp; ❤️  by Alicia Pflaumer</p>
<div id="user_header">
  <% if  logged_in? %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Log In", login_path %>
  <% end %>
</div>
<% if  logged_in? %>
  <%= link_to 'Blog', controller: 'articles' %> <br>
  <%= link_to 'All users', users_path %>
<% end %>
