<h1>Hello, Rails!</h1>
<p>Built with &#x1F308; &amp; ❤️  by Alicia Pflaumer</p>
<div id="user_header">
  <% if  logged_in? %>
    <%= link_to 'Logout', session_path('bogus-id'), method: :delete %>
  <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Log In", new_session_path %>
  <% end %>
</div>
<%= link_to 'Blog', controller: 'articles' %> <br>
<%= link_to 'All users', users_path %>
